In [14]:
import pandas as pd
schools_complete_csv = "./Resources/schools_complete.csv"
students_complete_csv = "./Resources/students_complete.csv"
schools_complete_df = pd.read_csv(schools_complete_csv)
students_complete_df = pd.read_csv(students_complete_csv)
#schools_complete_df
#students_complete_df
#schools_complete_df.columns
#students_complete_df.columns
school_data_df = pd.merge(schools_complete_df, students_complete_df, on="school_name", how = "inner")

In [15]:
# District Summary

# Calculate the total number of schools
total_schools = len(school_data_df["school_name"].unique())
total_student = school_data_df["Student ID"].count()
total_budget = sum(school_data_df["budget"].unique())
math_mean = school_data_df["math_score"].mean()
reading_mean = school_data_df["reading_score"].mean()

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_df = school_data_df.loc[school_data_df["math_score"] >=70]
passing_math_data = round((passing_math_df["math_score"].count())/(school_data_df["math_score"].count())*100, 3)

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_df = school_data_df.loc[school_data_df["reading_score"] >=70]
passing_reading_data = round((passing_reading_df["reading_score"].count())/(school_data_df["reading_score"].count())*100, 3)

# Calculate the percentage of students who passed math and reading (% Overall Passing)
# We want to see who passed the both reading and math 
passing_data_df = (school_data_df.loc[(school_data_df["math_score"]>=70) & (school_data_df["reading_score"] >=70)]) 
passing_df = passing_data_df.count()/(school_data_df["math_score"].count())*100
passing_reading_math = passing_df["math_score"]

summary_table = pd.DataFrame({
                             "Total Schools": [total_schools],
                             "Total Students":["{:,}".format(total_student)],
                             "Total Budget":["${:,}".format(total_budget)],
                             "Average Math Score": [math_mean],
                             "Average Reading Score": [reading_mean],
                             "% Passing Math":[passing_math_data],
                             "% Passing Reading": [passing_reading_data],
                             "% Overall Passing": [passing_reading_math]
                             
})
summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985371,81.87784,74.981,85.805,65.172326

In [13]:
# School Summary

# Sorting both data frames to get the corect info based on school
schools_complete_df = schools_complete_df.sort_values(by="school_name")
school_data_df = school_data_df.sort_values(by="school_name")

school_name = schools_complete_df["school_name"]
school_type = schools_complete_df["type"]
student_school = school_data_df["school_name"].value_counts()

# Because student_school gives us both schools names and counts of students
# we can use to_frame to convert that directly into DataFrame
final_table = student_school.to_frame()

# Rename the headers
final = final_table.rename(columns={"school_name":"Total Students"})
final = final.sort_index()

# we want to insert between two columns
final.insert(loc=0,column="School Type", value=list(school_type))
budget = schools_complete_df["budget"]
final.insert(loc=2,column="Total School Budget",value=list(budget))

# Calculating the budget
student_budget = final["Total School Budget"]/final["Total Students"]
final.insert(loc=3,column="Per Student Budget",value=list(student_budget))
final["Per Student Budget"]=final["Per Student Budget"].map("${:.2f}".format)
final["Total School Budget"]=final["Total School Budget"].map("${:,.2f}".format)

# Calculating average Math Score
schools_group = school_data_df.groupby(["school_name"])
math_mean = schools_group["math_score"].mean()
final["Average Math Score"] = math_mean

# Calculating average Reading score
reading_mean = schools_group["reading_score"].mean()
final["Average Reading Score"] = reading_mean

# Calculating Passing Math, Reading and the Overall data
# Use DataFrame from previous calculation
math_passing = passing_math_df.groupby("school_name")
math_passing = (math_passing.count()["student_name"]/student_school)*100
reading_passing = passing_reading_df.groupby("school_name")
reading_passing = (reading_passing.count()["student_name"]/student_school)*100
overall_passing = passing_data_df.groupby("school_name")
overall_passing = (overall_passing.count()["student_name"]/student_school)*100
final["% Passing Math"] = math_passing
final["% Passing Reading"] = reading_passing
final["% Overall Passing"] = overall_passing
final

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [19]:
# Top Performing Schools (By % Overall Passing)

# We can reuse the table above
school_summary = final
top_5 = school_summary.sort_values(by="% Overall Passing", ascending=False)
top_5.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [23]:
# Bottom Performing Schools (By % Overall Passing)

# We can reuse the steps above and see the bottom five
# By default its sorting it by ascending order
bottom_5 = school_summary.sort_values(by="% Overall Passing")
bottom_5.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [28]:
# Math Scores by Grade

# Create a pandas series for each grade
grade_9 = school_data_df.loc[school_data_df["grade"] == "9th"]
grade_10 = school_data_df.loc[school_data_df["grade"] == "10th"]
grade_11 = school_data_df.loc[school_data_df["grade"] == "11th"]
grade_12 = school_data_df.loc[school_data_df["grade"] == "12th"]

# Group each series by school
# For every school take the average of math score
group_9 = grade_9.groupby("school_name")
score_9 = group_9.mean()["math_score"]

group_10 = grade_10.groupby("school_name")
score_10 = group_10.mean()["math_score"]

group_11 = grade_11.groupby("school_name")
score_11 = group_11.mean()["math_score"]

group_12 = grade_12.groupby("school_name")
score_12 = group_12.mean()["math_score"]

score = pd.DataFrame({
                     "9th": score_9,
                     "10th": score_10,
                     "11th": score_11,
                     "12th": score_12  
})

# Get rid of the index name
score.index.name = ""
score

                             9th       10th       11th       12th

Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [30]:
# Reading Score by Grade

# Use the series from above
# Group each series by school
# For every school take the average of reading score
group_9 = grade_9.groupby("school_name")
score_9 = group_9.mean()["reading_score"]

group_10 = grade_10.groupby("school_name")
score_10 = group_10.mean()["reading_score"]

group_11 = grade_11.groupby("school_name")
score_11 = group_11.mean()["reading_score"]

group_12 = grade_12.groupby("school_name")
score_12 = group_12.mean()["reading_score"]

score = pd.DataFrame({
                     "9th": score_9,
                     "10th": score_10,
                     "11th": score_11,
                     "12th": score_12  
})

# Get rid of the index name
score.index.name = ""
score

                             9th       10th       11th       12th

Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [54]:
# Scores by School Spending

# Get the max and min per student spending to find the the ranges
# print(student_budget.max())
# print(student_budget.min())
# Create bins in which to place values
bins = [0,590,628,640,670]

# Create labels for these bins
group_labels = ["$0 to 590", "$591 to 628", "$629 to 640", "$641 to 670"]

# We already have the student_budget above
school_summary["Spending Ranges (Per Student)"] =  pd.cut(student_budget, bins, labels=group_labels).head()

# Calculating scores based on spending ranges
math = school_summary.groupby("Spending Ranges (Per Student)").mean()["Average Math Score"]
reading = school_summary.groupby("Spending Ranges (Per Student)").mean()["Average Reading Score"]
math_percent = school_summary.groupby("Spending Ranges (Per Student)").mean()["% Passing Math"]
reading_percent = school_summary.groupby("Spending Ranges (Per Student)").mean()["% Passing Reading"]
overall_percent = school_summary.groupby("Spending Ranges (Per Student)").mean()["% Overall Passing"]

spending_ranges = pd.DataFrame()

# Adding to the DataFrame
spending_ranges["Average Math Score"] = math.map("{:.2f}".format)
spending_ranges["Average Reading Score"] = reading.map("{:.2f}".format)
spending_ranges["% Passing Math"] = math_percent.map("{:.2f}".format)
spending_ranges["% % Passing Reading"] = reading_percent.map("{:.2f}".format)
spending_ranges["% Overall Passing"] = overall_percent.map("{:.2f}".format)
spending_ranges

,Average Math Score,Average Reading Score,% Passing Math,% % Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
$0 to 590,83.06,83.98,94.13,97.04,91.33
$591 to 628,80.20,82.43,80.04,89.54,72.62
$629 to 640,76.71,81.16,65.99,80.74,53.20
$641 to 670,77.10,80.75,68.31,79.30,54.29